/* * {
  outline: 1px dotted red;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cascadia', 'Consolas', 'Helvetica', 'Arial', 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../src/components/Assets/resumeBackground.png');
  background-size: 100% 50%;
  background-position: top;
  height: 100vh;
  background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}